body {
  position: relative;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

.loader.close {
  visibility: hidden;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
